*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    background: url(assets/img/background.jpg);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.container{
    max-width: 500px;
    border: 3px solid white;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    background: rgba(0, 0, 0, .7);
    padding-bottom: 30px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 40px;
}

h2{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 30px;
    padding: 0 15px;
}

h3{
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 25px;
    margin: 30px auto 10px;
    letter-spacing: 2px;
}

p{
    font-family: 'Comfortaa', cursive;
    color: #a2cee9;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 2px;
}

label, ::placeholder{
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 20px;
    padding-bottom: 5px;
}

form {
    max-width: 350px;
}

.form-initial {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-group {
    margin: 10px 0;
}

input, select{
    border: 1.5px solid #82B8D9;
    border-radius: 100px;
    background: none;
    padding: 8px;
    width: 100%;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 10px 0 5px;
}

#btn-send {
    margin: 10px 0px;
}

#btn-option {
    display: flex;
}

#btn-option .btn {
    flex: 1;
    font-size: 16px;
    background: #103146;
    color: #f9f7fc;
    font-weight: bold;
    border-color: #295875;
    margin-left: 5px;
    margin-right: 5px;
}

#btn-option .btn:hover{
    background: none;
    color: #f9f7fc;
    border-color: #295875;
}

#btn-option .btn:last-child{
    margin-right: 0;
}

form {
    max-width: 350px;
}

#result{
    width: 100%;
}


